.inputContainer {
  display: flex;
  border-radius: 8px 2rem 2rem 8px;
  background-color: #212121;
  align-items: center;
  border: 1px solid transparent;
}

.inputContainer:focus-within {
  border: 1px solid #00a3ff;
  transition: 0.4s;
}

.input {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
  padding: 1rem;
}

.input:focus {
  outline: none;
}

.input:focus + .sendIconConteiner {
  transition: 0.4s;
  box-shadow: 0 0 0.5rem 0.2rem #00a2ff86;
}

.sendIconConteiner {
  background: #00a3ff;
  color: #fff;
  border-radius: 100%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #00a3ff;

  cursor: pointer;
}

.sendIcon {
  font-size: 1.5rem;
}

.sendIconConteiner:hover {
  background: transparent;
  border: 1px solid #00a3ff;
  color: #00a3ff;
}
