.inputContainer {
  display: flex;
  /* margin-top: auto; */
  border-radius: 8px;
  background-color: #212121;
}

.input {
  background-color: transparent;
  border: none;
  color: #fff;
  width: 100%;
  padding: 1rem;
}
